<div class="col s8 offset-s2">
  <div class="col s5">
    <h5>Score: {{ selectedGameMode === "singleplayer" ? p1Points + " - P1 | " + cPoints + " - C" : p1Points + " - P1 | " + p2Points + " - P2" }}</h5>
    <h5>Ties: {{ ties }}</h5>
  </div>
  <div class="col s7 right-align" ng-if="winner === '' && !isTie">
    <h5>{{ turn === p1SelectedCharacter ? "It's your turn Player One! (" + turn + ")" : turn === p2SelectedCharacter ? "It's your turn Player Two! (" + turn + ")": turn === computer ? "Computer, you're up!(" + turn + ")" : ""}}</h5>
  </div>
  <div class="col s7 right-align" ng-if="winner !== '' && !isTie">
    <h5>{{ winner === p1SelectedCharacter ? "Player One won the game!" : winner === p2SelectedCharacter ? "Player Two won the game!" : winner === computer ? "The computer won the game!" : ""}}</h5>
  </div>
  <div class="col s7 right-align" ng-if="isTie">
    <h5>It's a tie!</h5>
  </div>
</div>
<div class="col s6 offset-s3 z-depth-5 board">
  <div class="col s4 tile topLeftTile noselect" ng-click="updateGameState('topLeft', turn, gameTable[0])">
    <p class="center-align symbol">{{ gameTable[0] }}</p>
  </div>
  <div class="col s4 tile middleColumn noselect" ng-click="updateGameState('topMiddle', turn, gameTable[1])">
    <p class="center-align symbol">{{ gameTable[1] }}</p>
  </div>
  <div class="col s4 tile topRightTile noselect" ng-click="updateGameState('topRight', turn, gameTable[2])">
    <p class="center-align symbol">{{ gameTable[2] }}</p>
  </div>
  <div class="col s4 tile middleRow noselect" ng-click="updateGameState('middleLeft', turn, gameTable[3])">
    <p class="center-align symbol">{{ gameTable[3] }}</p>
  </div>
  <div class="col s4 tile middleRow middleColumn noselect" ng-click="updateGameState('middleMiddle', turn, gameTable[4])">
    <p class="center-align symbol">{{ gameTable[4] }}</p>
  </div>
  <div class="col s4 tile middleRow noselect" ng-click="updateGameState('middleRight', turn, gameTable[5])">
    <p class="center-align symbol">{{ gameTable[5] }}</p>
  </div>
  <div class="col s4 tile bottomLeftTile noselect" ng-click="updateGameState('bottomLeft', turn, gameTable[6])">
    <p class="center-align symbol">{{ gameTable[6] }}</p>
  </div>
  <div class="col s4 tile middleColumn noselect" ng-click="updateGameState('bottomMiddle', turn, gameTable[7])">
    <p class="center-align symbol">{{ gameTable[7] }}</p>
  </div>
  <div class="col s4 tile bottomRightTile noselect" ng-click="updateGameState('bottomRight', turn, gameTable[8])">
    <p class="center-align symbol">{{ gameTable[8] }}</p>
  </div>
</div>
<div class="col s12 center-align btnContainer" ng-if="winner !== '' || isTie">
  <button class="waves-effect waves-light btn" ng-click="newGame()">New Game</button>
</div>
