<div class="col s6 offset-s3 z-depth-5 characterSelectWindow center-align">
  <div class="col s12">
    <h4>Player one, please select your character!</h4>
  </div>
  <div class="col s5">
    <button class="waves-effect waves-light btn" ng-click="$state.go('game'); selectCharacter('x'); initializeGame();">X</button>
  </div>
  <div class="col s2"></div>
  <div class="col s5">
    <button class="waves-effect waves-light btn" ng-click="$state.go('game'); selectCharacter('o'); initializeGame();">O</button>
  </div>
  <div class="col s12">
    <button class="waves-effect waves-light btn" ng-click="$state.go('selectGameMode')">Back</button>
  </div>
</div>
