<div class="col s6 offset-s3 z-depth-5 playerSelectWindow center-align">
  <div class="col s12">
    <h4>Please select how do you want to play?</h4>
  </div>
  <div class="col s5">
    <button class="waves-effect waves-light btn" ng-click="$state.go('selectCharacter'); selectGameMode(1)" ng-disabled="true">Singleplayer</button>
  </div>
  <div class="col s2"></div>
  <div class="col s5">
    <button class="waves-effect waves-light btn" ng-click="$state.go('selectCharacter'); selectGameMode(2)">Multiplayer</button>
  </div>
</div>
