.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.playerSelectWindow {
  border-radius: 10px;
  margin-top: 25px;
  padding: 0.75rem !important;
}

.characterSelectWindow {
  border-radius: 10px;
  margin-top: 25px;
  padding: 0.75rem !important;
}

.board {
  border-radius: 10px;
  padding: 0 !important;
  margin-top: 25px;
}

.tile {
  height: 100px;
  overflow-y: hidden;
}

.tile:hover {
  box-shadow: inset 0px 0px 20px rgb(158, 158, 158);
  cursor: pointer;
}

.topLeftTile {
  border-top-left-radius: 10px;
}

.topRightTile {
  border-top-right-radius: 10px;
}

.bottomLeftTile {
  border-bottom-left-radius: 10px;
}

.bottomRightTile {
  border-bottom-right-radius: 10px;
}

.middleColumn {
  border-right: 1px solid rgb(158, 158, 158);
  border-left: 1px solid rgb(158, 158, 158);
}

.middleRow {
  border-top: 1px solid rgb(158, 158, 158);
  border-bottom: 1px solid rgb(158, 158, 158);
}

.symbol {
  font-size: 110px;
  margin-top: -42px;
}

.text-uppercase {
  text-transform: uppercase;
}

.btnContainer {
  margin-top: 25px;
}