<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="<%= webpackConfig.output.filename %>"></script>
  </head>

  <body ng-app="tictactoe">
    <main  ng-controller="TicTacToeCtrl">
      <div class="container">
        <div class="row">
          <div class="col s12 center-align">
            <h3>Tic-Tac-Toe Game</h3>
            <hr>
          </div>
          <ui-view></ui-view>
        </div>
      </div>
    </main>
  </body>
</html>
